$back_Color:#d8d8d8;

html,body{
  color:#fb5606;
  font-size: 16px;
  font-weight: bold;
  font-family: "Î¢ÈíÑÅºÚ" "ËÎÌå";
}
body{
  background: #fffde4;
}
.lf-jf-content{
  padding: 5%;
  width: 90%;
  margin:0 auto;
}
.lf-jf-userInfo{
  background: #fb5606;
  color: #fff;
  padding-top:3px;
  line-height: 15px;
  margin-bottom: 2px;
  font-size: 18px;
  padding-bottom: 10px;
}
.lf-jf-img{
  background-image: image-url("jf-img.png");
  height: 140px;
  background-position-x: 50%;
  background-position-y: 14px;
  background-repeat: no-repeat;
}


.test{
  color:$back_Color
}
